<div *ngIf="characterSpec">
    <h2>
        {{characterSpec.name}}
    </h2>
    <img src="{{characterSpec.image}}" alt="img">
    <h2>
        {{characterSpec.status}}
    </h2>
    <h2>
        {{characterSpec.species}}
    </h2>
    <h2>
        {{characterSpec.type}}
    </h2>
    <h2>
        {{characterSpec.gender}}
    </h2>
    <h2>
        {{characterSpec.origin.name}}
    </h2>
    <h2>
        {{characterSpec.episode}}
    </h2>
    <h2>
        {{characterSpec.url}}
    </h2>
    <h2>
        {{characterSpec.created}}
    </h2>

</div>