<h1>Character</h1>
<div *ngIf="characterSpec">
    <h2>
       Name: {{characterSpec.name}}
    </h2>
    <img src="{{characterSpec.image}}" alt="img">
    <h2>
        {{characterSpec.status}}
    </h2>
    <h2>
        Species: {{characterSpec.species}}
    </h2>

    <h2>
        Gender: {{characterSpec.gender}}
    </h2>
    <h2>
        Origin: {{characterSpec.origin.name}}
    </h2>
    <h2>
        {{characterSpec.episode}}
    </h2>
    <h2>
        Url: {{characterSpec.url}}
    </h2>
    <h2>
        Created: {{characterSpec.created}}
    </h2>

</div>
<p>
    <a href (click)="back()">Back</a>
</p>