<h1>Episode</h1>
<div *ngIf="episodeSpec">
    <h2>
        Name: {{episodeSpec.name}}
    </h2>
    <h2>
        First air date: {{episodeSpec.air_date}}
    </h2>
    <h2>
        Episode number: {{episodeSpec.episode}}
    </h2>
    <h2>Characters:</h2>
    <div *ngFor="let c of episodeSpec.characters">
        <a routerLink="/characterSpec/{{getLastPart(c)}}">
            <h3>
                {{c}}
            </h3>
        </a>
    </div>
    <h2>
        url: {{episodeSpec.url}}
    </h2>

</div>
